article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

/**** Variables ****/
/**** Base Styles ****/
html {
  font-size: 125%; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #ffffff; }

h1 {
  font-size: 2.25rem;
  padding-bottom: 30px;
  text-transform: capitalize; }

h2,
p,
.swal-text {
  font-size: 1.15rem; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

main,
footer {
  background-color: #000000; }

input,
.modal,
.modal ul li,
.closeModal,
.swal-modal {
  border-radius: 3px; }

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto; }

/**** Header ****/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(255, 255, 255, 0)), to(black)), url(../assets/background.jpg);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, black 100%), url(../assets/background.jpg);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  min-height: 100vh; }
  header h2 {
    padding-bottom: 40px;
    line-height: 1.5; }

.chevron {
  margin: 0 auto;
  width: 20%;
  display: block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite; }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

/**** Main ****/
main {
  padding: 60px 0; }
  main h2 {
    padding-bottom: 15px; }

input {
  border: none;
  padding: 5px;
  color: #192231;
  border: 1px solid transparent;
  outline: 0; }
  input:focus {
    border: 1px solid #78cbf2; }
  input:required {
    -webkit-box-shadow: none;
            box-shadow: none; }

input.startDate,
input.endDate {
  margin-bottom: 10px; }

input.submit {
  background-color: #494e6b;
  color: #ffffff; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px; }

.ui-datepicker {
  width: 80%;
  color: #192231; }

.ui-widget {
  font-family: inherit; }

.summaryWrap {
  padding: 20px 0 40px; }

/**** Modal ****/
.swal-overlay,
.mask {
  background-color: rgba(52, 73, 94, 0.8); }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  transition: visibility 0s linear 0.3s, opacity 0.2s linear; }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: calc(100% - 20px);
  top: 50%;
  left: 50%;
  padding: 30px;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #192231; }
  .modal h2 {
    padding: 0; }
  .modal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal ul li {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #192231;
      color: #985e6d; }
    .modal ul li:last-of-type {
      background-color: #985e6d;
      color: #192231;
      margin: 0; }

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.closeModal {
  background-color: #494e6b;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  padding: 5px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: inline-block;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, 0.29);
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, 0.29); }
  .closeModal:hover {
    background-color: #78cbf2; }

.swal-text {
  color: #192231;
  text-align: center; }

/**** Footer ****/
footer {
  padding-bottom: 20px; }
  footer a {
    color: #ffffff;
    font-size: 0.75rem; }

/**** screen meets or exceeds 500px****/
@media (min-width: 500px) {
  header {
    padding-top: 80px; }
  .chevron {
    width: 15%; }
  .modal {
    width: 478px; }
  .ui-datepicker {
    width: 50%; } }

/**** screen meets or exceeds 768px ****/
@media (min-width: 768px) {
  header h2 {
    padding-bottom: 60px; }
  h1 {
    font-size: 3rem; }
  h2,
  p,
  .swal-text {
    font-size: 1.25rem; }
  .chevron {
    width: 15%; }
  form {
    margin: 0 auto;
    width: 80%; }
  .ui-datepicker {
    width: 50%; } }

/**** screen meets or exceeds 920px****/
@media (min-width: 920px) {
  header {
    padding-top: 100px; }
    header .wrapper {
      width: 70%; }
  .chevron {
    width: 12%; }
  form {
    width: 60%; }
  .ui-datepicker {
    width: 40%; } }

/**** screen meets or exceeds 1400px ****/
@media (min-width: 1400px) {
  header .wrapper {
    width: 60%; }
  .chevron {
    width: 10%; }
  form {
    width: 50%; }
  .ui-datepicker {
    width: 30%; } }

/**** Variables ****/
/**** Base Styles ****/
html {
  font-size: 125%; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #ffffff; }

h1 {
  font-size: 2.25rem;
  padding-bottom: 30px;
  text-transform: capitalize; }

h2,
p,
.swal-text {
  font-size: 1.15rem; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

main,
footer {
  background-color: #000000; }

input,
.modal,
.modal ul li,
.closeModal,
.swal-modal {
  border-radius: 3px; }

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto; }

/**** Header ****/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(255, 255, 255, 0)), to(black)), url(../assets/background.jpg);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, black 100%), url(../assets/background.jpg);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  min-height: 100vh; }
  header h2 {
    padding-bottom: 40px;
    line-height: 1.5; }

.chevron {
  margin: 0 auto;
  width: 20%;
  display: block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite; }

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

/**** Main ****/
main {
  padding: 60px 0; }
  main h2 {
    padding-bottom: 15px; }

input {
  border: none;
  padding: 5px;
  color: #192231;
  border: 1px solid transparent;
  outline: 0; }
  input:focus {
    border: 1px solid #78cbf2; }
  input:required {
    -webkit-box-shadow: none;
            box-shadow: none; }

input.startDate,
input.endDate {
  margin-bottom: 10px; }

input.submit {
  background-color: #494e6b;
  color: #ffffff; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px; }

.ui-datepicker {
  width: 80%;
  color: #192231; }

.ui-widget {
  font-family: inherit; }

.summaryWrap {
  padding: 20px 0 40px; }

/**** Modal ****/
.swal-overlay,
.mask {
  background-color: rgba(52, 73, 94, 0.8); }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  transition: visibility 0s linear 0.3s, opacity 0.2s linear; }

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: calc(100% - 20px);
  top: 50%;
  left: 50%;
  padding: 30px;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  transition: visibility 0s linear 0.3s, opacity 0.2s linear;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #192231; }
  .modal h2 {
    padding: 0; }
  .modal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .modal ul li {
      margin-bottom: 20px;
      padding: 10px;
      background-color: #192231;
      color: #985e6d; }
    .modal ul li:last-of-type {
      background-color: #985e6d;
      color: #192231;
      margin: 0; }

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.closeModal {
  background-color: #494e6b;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  padding: 5px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: inline-block;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, 0.29);
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, 0.29); }
  .closeModal:hover {
    background-color: #78cbf2; }

.swal-text {
  color: #192231;
  text-align: center; }

/**** Footer ****/
footer {
  padding-bottom: 20px; }
  footer a {
    color: #ffffff;
    font-size: 0.75rem; }

/**** screen meets or exceeds 500px****/
@media (min-width: 500px) {
  header {
    padding-top: 80px; }
  .chevron {
    width: 15%; }
  .modal {
    width: 478px; }
  .ui-datepicker {
    width: 50%; } }

/**** screen meets or exceeds 768px ****/
@media (min-width: 768px) {
  header h2 {
    padding-bottom: 60px; }
  h1 {
    font-size: 3rem; }
  h2,
  p,
  .swal-text {
    font-size: 1.25rem; }
  .chevron {
    width: 15%; }
  form {
    margin: 0 auto;
    width: 80%; }
  .ui-datepicker {
    width: 50%; } }

/**** screen meets or exceeds 920px****/
@media (min-width: 920px) {
  header {
    padding-top: 100px; }
    header .wrapper {
      width: 70%; }
  .chevron {
    width: 12%; }
  form {
    width: 60%; }
  .ui-datepicker {
    width: 40%; } }

/**** screen meets or exceeds 1400px ****/
@media (min-width: 1400px) {
  header .wrapper {
    width: 60%; }
  .chevron {
    width: 10%; }
  form {
    width: 50%; }
  .ui-datepicker {
    width: 30%; } }
